* { background-color: #ddeafb;}

.text {
    position: absolute;
    background-color: rgb(241 241 241 / 86%);
    color: black;
    top: 7rem;
    border: 1px solid black;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.relation {
    position: absolute;
    background-color: rgba(241, 241, 241, 0.86);
    color: black;
    border: 1px solid black;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.role {
    font-size: 9px;
}
 